<app-header titulo="Grid"></app-header>

<ion-content class="ion-padding" fullscreen>
  <ion-grid fixed >
    <ion-row>
      <!-- size-lg 3 hace referencia a cada columna de separacion, para 3 se refiere a que aporeceran 2 card con la imagen -->
      <ion-col size="12" size-lg="3" size-md="4" size-sm="6" *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1]">
        <ion-card>
          <ion-img src="/assets/images/stan-lee.jpg"></ion-img>
        </ion-card>
        <ion-card-header>
          <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
          <ion-card-title>Awesome Title</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit totam, ex amet eaque rerum modi repellat? Cumque aut ex explicabo facere dicta neque dignissimos, ratione maiores ab ipsa mollitia doloribus?
        </ion-card-content>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
