<app-header titulo="Uso de tabs"></app-header>

<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="infinite-scroll">
      <ion-icon name="infinite"></ion-icon>
      <ion-label>Infite scroll</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="slides">
      <ion-icon name="albums-outline"></ion-icon>
      <ion-label>Slides</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="segment">
      <ion-icon name="copy-outline"></ion-icon>
      <ion-label>Segment</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>